{% extends "layout/layout.html.twig" %}

{% block titre %}
  Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block corps_plat %}
  
  <div style="margin-left:35%;"> 
  <h1>{% trans %}Erreur{% endtrans %} 403</h1>

  <h3>{{ refuse }}</h3>

  <div> 
  
{% endblock %}