{% extends "layout/layoutgeneral.html.twig" %}

{% block title %}
  {% trans %}Annonces{% endtrans %} - {{ parent() }}
{% endblock %}

{% block body %}

  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h1>{% trans %}Anonces{% endtrans %}</h1>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">{% trans %}Dev mobile{% endtrans %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">{% trans %}Dev web{% endtrans %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">{% trans %}Graphisme{% endtrans %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">{% trans %}Reseau{% endtrans %}</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{% trans %}recherche{% endtrans %}</button>
    </form>
  </div>
</nav>

  <hr>

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block corps_plat %}
  {% endblock %}

{% endblock %}